Summoning Circle/Library
Summoning Circle/Logs
Summoning Circle/Temp
Summoning Circle/UserSettings
Summoning Circle/.vsconfig
Summoning Circle/Summoning Circle.sln
Summoning Circle/.vs
Summoning Circle/obj
Summoning Circle/Assembly-CSharp.csproj
